script(src='/javascripts/jquery.min.js')
script(src='/javascripts/jquery.ui.custom.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/jquery.uniform.js')
script(src='/javascripts/select2.min.js')
script(src='/javascripts/jquery.validate.js')
script(src='/javascripts/jquery.dataTables.min.js')
script(src='/javascripts/unicorn.js')
script(src='/javascripts/unicorn.form_validation.js')
script(src='/javascripts/unicorn.tables.js')
