head
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.min.css")
    link(rel='stylesheet', href='/stylesheets/uniform.css')
    link(rel='stylesheet', href='/stylesheets/select2.css')
    link(rel='stylesheet', href='/stylesheets/unicorn.main.css')
    link.skin-color(rel='stylesheet', href='/stylesheets/unicorn.grey.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
