/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.table td {
	text-align:center;
	vertical-align: middle;
}

td.op {
	width: 200px;
}

td.op a {
	margin:0 4px;
}

th.pic {
	width: 200px;
}

td.pic img{
	height: 50px;
}