extends ../layout
block content
    .widget-box
      .widget-title
        span.icon
          i.icon-plus
        h5 选项
      .widget-content.nopadding
        form#basic_validate.form-horizontal(method='post', action='#', name='basic_validate', novalidate='novalidate')
          input(type='hidden', name='evaluateId', value=logic.  )
          .control-group
            label.control-label 选项名称
            .controls
              input.required(type='text', name='name', value=logic.name)
          .control-group
            label.control-label 排序
            .controls
              input.required(type='number', name='seq', value=logic.seq)
          .form-actions
            input.btn.btn-primary(type='submit', value='保存')
