extends ../layout
block content
      .widget-box
        .widget-title
          h5 手机型号
          .buttons
            a.btn.btn-mini.btn-primary(href="#")
              i.icon-plus.icon-white
              | 添加
        .widget-content.nopadding
          table.table.table-bordered.data-table
            thead
              tr
                th 手机型号
            tbody
              tr.gradeX
                td Trident
                td
                  | Internet
                  | Explorer 4.0
                td Win 95+
                td.center 4
              tr.gradeC
                td Trident
                td
                  | Internet
                  | Explorer 5.0
                td Win 95+
                td.center 5
              tr.gradeA
                td Trident
                td
                  | Internet
                  | Explorer 5.5
                td Win 95+
                td.center 5.5